body {
  background-color: green;
}

header {
  font-size: 25px;
  font-weight: bold;
}

p {
  font-style: italic;
}

#container {
  background-color: white;
  padding: 20px;
  width: 60%;
  border-radius: 20px;
}

#criar-tarefa {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

#apaga-tudo {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: yellow;
  font-weight: bold;
}

#mover-cima{
  border-radius: 10px;
  padding: 5px 20px;
  background-color: aliceblue;
  font-weight: bold;
}

#mover-baixo{
  border-radius: 10px;
  padding: 5px 20px;
  background-color: aliceblue;
  font-weight: bold;
}

#remover-finalizados {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: green;
  font-weight: bold;
  color: aliceblue;
}

#remover-selecionado {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: darkred;
  font-weight: bold;
  color: aliceblue;
}

#salvar-tarefas {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: blue;
  font-weight: bold;
  color: aliceblue;
}

.completed {
  text-decoration: line-through solid black;
}